<ul>
	<% for task in @project.tasks.completed %>
	<li id="task_<%= task.id %>">
		<%= check_box_tag 'completed_tasks[]', task.id, task.completed?, :id => "completedtask-#{task.id}" %><%= task.description %> 
	</li>
	<% end %>
</ul>
